<div  class="d-flex flex-column  shadow-sm rounded mb-5 pb-5 mt-5 pt-1 mx-3 " style="background-color: rgb(247, 249, 252); min-height: 600px;" >
  <!-- <ul ngbNav #nav="ngbNav" class="nav-tab p-1 d-flex justify-content-start w-100" >
    <li ngbNavItem class="li">
      <a class="link" ngbNavLink>Korisnici</a>
      <ng-template ngbNavContent >
        <div class="d-flex justify-content-around">
          <div style="width: 700px;" class="d-flex flex-column ml-3">
            <h5>Korisnici</h5>
            <p-table [columns]="cols" [value]="rows" dataKey="korisnikId" rowHover="true" [paginator]="true" [rows]="10" autoLayout="true" selectionMode="single" [(selection)]="selectedUser" (onRowUnselect)="rowUserUnselected()" (onRowSelect)="rowUserSelect($event)" >
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th style="width: 3em"></th>
                      <th *ngFor="let col of columns" style="width: fit-content;">
                          {{col.header}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                      <td>
                          <a href="" [pRowToggler]="rowData" >
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                          </a>
                      </td>
                      <td *ngFor="let col of columns" style="width: fit-content;">
                          {{rowData[col.field]}}
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                  <tr>
                      <td [attr.colspan]="columns.length + 1">
                          <div class="" style="font-size:14px;padding:20px" [@rowExpansionTrigger]="'active'">
                              <div class="" style="text-align:start">
                                  <div>Tvrtka ID: {{rowData['tvrtkaId']}}</div>
                                  <div>Global Korisnik ID: {{rowData['globalKorisnikId']}}</div>
                              </div>
                          </div>
                      </td>
                  </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="d-flex flex-column p-2">
            <div class="d-flex flex-column" class=" mb-5 border p-2">
              <div class="d-flex justify-content-between ">
                <h5>Aplikacije</h5>
                <div class="" type="button" (click)="addApp()"><i class="fas fa-plus fa-lg add mr-1" style="color: #007ad9"></i></div>
              </div>
              <p-dialog header="{{selectedAppName}}" [closable]="false" [(visible)]="appDeleteVisible && selectedApp" [style.width]="'200px'">
                Jeste li sigurni da želite ukloniti pravo na aplikaciju {{selectedAppName}}?
                <p-footer>
                  <button type="button" (click)="deleteApp()" >Da</button>
                  <button type="button" (click)="deleteAppNo()">Ne</button>
                </p-footer>
              </p-dialog>
              <div style="width: 500px; height: fit-content; " >
              <p-table [columns]="appCols" [value]="apps" editMode="row" dataKey="id" [(selection)]="selectedApp"  autoLayout="true" selectionMode="single" (onRowSelect)="rowAppSelected($event)" (onRowUnselect)="rowAppUnselected()">
                  <ng-template pTemplate="header" let-columns>
                      <tr >
                          <th *ngFor="let col of columns" style="width: fit-content;">
                              {{col.header}}
                          </th>
                          <th style="width: 4em; text-align: center;"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData" >
                          <td *ngFor="let col of columns" style="width: fit-content;">
                              {{rowData[col.field]}}
                          </td>
                          <td style="text-align: center;" class="del" (click)="delClick(rowData)"><i class="fas fa-trash-alt "></i></td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="d-flex flex-column" class="border p-2">
              <h5>Role</h5>
              <div style="width: 500px; height: fit-content;" >
                <p-table [columns]="roleCols" [value]="role" dataKey="korisnikId"  autoLayout="true" >
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" style="width: fit-content;">
                              {{col.header}}
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                          <td *ngFor="let col of columns" style="width: fit-content;">
                              {{rowData[col.field]}}
                          </td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem class="li">
      <a ngbNavLink class="link">Aplikacije</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem class="li">
      <a ngbNavLink class="link">Stranice</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
  </ul>
  <div class="d-flex justify-content-center"><i *ngIf="!rows" class="fas fa-spinner fa-spin ml-2" style="font-size: 3em;"></i></div>
  <div *ngIf="rows" [ngbNavOutlet]="nav" class="p-2"></div> -->

  <div class="d-flex flex-column">
    <div class="m-3 d-flex"><h5>Korisnička prava</h5> <i *ngIf="!korisnickaPravaToggle" (click)="this.korisnickaPravaToggle = true" class="fa fa-caret-down mt-1 ml-2"></i><i *ngIf="korisnickaPravaToggle" (click)="this.korisnickaPravaToggle = false" class="fa fa-caret-up mt-1 ml-2"></i></div>
    <div class="d-flex justify-content-start"><i *ngIf="!rows" class="fas fa-spinner fa-spin ml-5 mt-2" style="font-size: 3em;"></i></div>
      <div *ngIf="korisnickaPravaToggle && rows" style="background-color: #dae4f5;" class="py-3 mx-3">
        <div class="d-flex justify-content-around">
          <div style="width: 700px;" class="d-flex flex-column ml-3">
            <div class="d-flex justify-content-between ">
              <h5>Korisnici</h5>
              <div class="" type="button" (click)="addUser()"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
            </div>
            <p-dialog header="{{userToDeleteId}}" [closable]="false" [(visible)]="userDeleteVisible" [style.width]="'200px'">
              Jeste li sigurni da želite ukloniti korisnika {{userToDeleteId}}?
              <p-footer>
                <button type="button" (click)="deleteUser()" >Da</button>
                <button type="button" (click)="this.userDeleteVisible = !this.userDeleteVisible">Ne</button>
              </p-footer>
            </p-dialog>
            <p-table #dt [columns]="cols" class="korisnici" [value]="rows" dataKey="korisnikId" [responsive]=true rowHover="true" [paginator]="true" [rows]="10" autoLayout="true" selectionMode="single" [(selection)]="selectedUser" (onRowUnselect)="rowUserUnselected()" (onRowSelect)="rowUserSelect($event)" >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="30" placeholder="Traži..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th style="width: 3em"></th>
                      <th *ngFor="let col of columns" style="width: fit-content;" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLableAsc="Activate to sort in ascending order"></p-sortIcon>
                      </th>
                      <th style="width: 4em;"></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                      <td>
                          <a href="" [pRowToggler]="rowData" >
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                          </a>
                      </td>
                      <td *ngFor="let col of columns" style="width: fit-content;">
                        {{col.header === 'Status' ? (rowData[col.field] === 1 ? 'Aktivno' : rowData[col.field] === -1 ? 'Izbrisano' : 'Neaktivno') : rowData[col.field]}}
                      </td>
                      <td style="text-align: center;" class="del" (click)="delUserClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                  <tr>
                      <td [attr.colspan]="columns.length + 2">
                          <div class="" style="font-size:14px;padding:20px" [@rowExpansionTrigger]="'active'">
                              <div class="" style="text-align:start">
                                  <div>Tvrtka ID: {{rowData['tvrtkaId']}}</div>
                                  <div>Global Korisnik ID: {{rowData['globalKorisnikId']}}</div>
                              </div>
                          </div>
                      </td>
                  </tr>
              </ng-template>
            </p-table>
            <ngb-alert *ngIf="this.userAddedAlertVisible" type="success" (close)="this.userAddedAlertVisible = false" class="mt-2">Korisnik dodan!</ngb-alert>
            <ngb-alert *ngIf="this.userDeletedAlertVisible" type="success" (close)="this.userDeletedAlertVisible = false" class="mt-2">Korisnik izbrisan!</ngb-alert>
            <ngb-alert *ngIf="this.userAddedErrorAlertVisible" type="danger" (close)="this.userAddedErrorAlertVisible = false" class="mt-2">Greška prilikom dodavanja korisnika!</ngb-alert>
            <ngb-alert *ngIf="this.userDeletedErrorAlertVisible" type="danger" (close)="this.userDeletedErrorAlertVisible = false" class="mt-2">Greška prilikom brisanja korisnika!</ngb-alert>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex flex-column" class=" mb-5  ">
              <div class="d-flex justify-content-between ">
                <h5>Aplikacije</h5>
                <div *ngIf="selectedUser" class="" type="button" (click)="addApp()"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
              </div>
              <p-dialog header="{{selectedAppName}}" [closable]="false" [(visible)]="appDeleteVisible && selectedApp" [style.width]="'200px'">
                Jeste li sigurni da želite ukloniti pravo na aplikaciju {{selectedAppName}}?
                <p-footer>
                  <button type="button" (click)="deleteApp()" >Da</button>
                  <button type="button" (click)="deleteAppNo()">Ne</button>
                </p-footer>
              </p-dialog>
              <div style="width: 500px; height: fit-content; " >
              <p-table [columns]="appCols" [value]="apps" editMode="row" dataKey="id" [(selection)]="selectedApp"  autoLayout="true" selectionMode="single" (onRowSelect)="rowAppSelected($event)" (onRowUnselect)="rowAppUnselected()">
                  <ng-template pTemplate="header" let-columns>
                      <tr >
                          <th *ngFor="let col of columns" style="width: fit-content;">
                              {{col.header}}
                          </th>
                          <th style="width: 4em; text-align: center;"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData" >
                          <td *ngFor="let col of columns" style="width: fit-content;">
                              {{rowData[col.field]}}
                          </td>
                          <td style="text-align: center;" class="del" (click)="delClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                      </tr>
                  </ng-template>
                </p-table>
                <ngb-alert *ngIf="this.appDodanaAlertVisible" type="success" (close)="this.appDodanaAlertVisible = false" class="mt-2">Aplikacija dodijeljena!</ngb-alert>
                <ngb-alert *ngIf="this.appUklonjenaAlertVisible" type="success" (close)="this.appUklonjenaAlertVisible = false" class="mt-2">Aplikacija uklonjena!</ngb-alert>
                <ngb-alert *ngIf="this.appDodanaErrorAlertVisible" type="danger" (close)="this.appDodanaErrorAlertVisible = false" class="mt-2">Greška prilikom dodjele aplikacije!</ngb-alert>
                <ngb-alert *ngIf="this.appUklonjenaErrorAlertVisible" type="danger" (close)="this.appUklonjenaErrorAlertVisible = false" class="mt-2">Greška prilikom brisanja aplikacije!</ngb-alert>
              </div>
            </div>
            <div class="d-flex flex-column" class="">
              <div class="d-flex justify-content-between ">
                <h5>Role</h5>
                <div *ngIf="selectedApp" class="" type="button" (click)="addRola()"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
              </div>
              <p-dialog header="{{selectedRola}}" [closable]="false" [(visible)]="rolaDeleteVisible && selectedRola" [style.width]="'200px'">
                Jeste li sigurni da želite ukloniti rolu {{selectedRola}}?
                <p-footer>
                  <button type="button" (click)="deleteRola()" >Da</button>
                  <button type="button" (click)="deleteRolaNo()">Ne</button>
                </p-footer>
              </p-dialog>
              <div style="width: 500px; height: fit-content;" >
                <p-table [columns]="roleCols" [value]="role" dataKey="korisnikId" autoLayout="true" >
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" style="width: fit-content;">
                              {{col.header}}
                          </th>
                          <th style="width: 4em; text-align: center;"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr >
                          <td *ngFor="let col of columns" style="width: fit-content;">
                              {{rowData[col.field]}}
                          </td>
                          <td style="text-align: center;" class="del" (click)="delRolaClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
              <ngb-alert *ngIf="this.rolaDodanaAlertVisible" type="success" (close)="this.rolaDodanaAlertVisible = false" class="mt-2">Rola dodana!</ngb-alert>
              <ngb-alert *ngIf="this.rolaUklonjenaAlertVisible" type="success" (close)="this.rolaUklonjenaAlertVisible = false" class="mt-2">Rola uklonjena!</ngb-alert>
              <ngb-alert *ngIf="this.rolaDodanaErrorAlertVisible" type="danger" (close)="this.rolaDodanaErrorAlertVisible = false" class="mt-2">Greška prilikom dodavanja role!</ngb-alert>
              <ngb-alert *ngIf="this.rolaUklonjenaErrorAlertVisible" type="danger" (close)="this.rolaUklonjenaErrorAlertVisible = false" class="mt-2">Greška prilikom brisanja role!</ngb-alert>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="m-3 d-flex">
      <h5>Aplikacije</h5><i *ngIf="!aplikacijeToggle" (click)="this.aplikacijeToggle = true" class="fa fa-caret-down ml-2 mt-1"></i><i *ngIf="aplikacijeToggle" (click)="this.aplikacijeToggle = false" class="fa fa-caret-up mt-1 ml-2"></i>
    </div>
    <div *ngIf="aplikacijeToggle && aplikacijeAll" style="background-color: #dae4f5;" class="py-3 mx-3">
      <div class="d-flex justify-content-around">
        <div style="width: 700px;" class="d-flex flex-column ml-3">
          <div class="d-flex justify-content-between ">
            <h5>Popis aplikacija</h5>
            <div class="" type="button" (click)="addAplikacija()"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
          </div>
          <p-dialog header="{{selectedAplikacijaToDeleteName}}" [closable]="false" [(visible)]="aplikacijaDeleteVisible" [style.width]="'200px'">
            Jeste li sigurni da želite izbrisati aplikaciju {{selectedAplikacijaToDeleteName}}?
            <p-footer>
              <button type="button" (click)="deleteAplikacija()" >Da</button>
              <button type="button" (click)="deleteAplikacijaNo()">Ne</button>
            </p-footer>
          </p-dialog>
          <p-table #aps [columns]="aplCols" [value]="aplikacijeAll" dataKey="aplikacijaId" rowHover="true" [paginator]="true" [rows]="10" autoLayout="true" selectionMode="single" [(selection)]="selectedAplikacija" (onRowUnselect)="rowAplikacijaUnselected()" (onRowSelect)="rowAplikacijaSelected($event)" >
            <ng-template pTemplate="caption">
              <div style="text-align: left">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="30" placeholder="Traži..." (input)="aps.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let col of columns" style="width: fit-content;" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLableAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    <th style="width: 4em; text-align: center;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td>
                        <a href="" [pRowToggler]="rowData" >
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of columns" style="width: fit-content;">
                      {{col.header === 'Status' ? (rowData[col.field] === 1 ? 'Aktivno' : rowData[col.field] === -1 ? 'Izbrisano' : 'Neaktivno') : rowData[col.field]}}
                    </td>
                    <td style="text-align: center;" class="del" (click)="deleteAplikacijaClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="columns.length + 2">
                        <div class="" style="font-size:14px;padding:20px" [@rowExpansionTrigger]="'active'">
                            <div class="" style="text-align:start">
                                <div>Tip aplikacije ID: {{rowData['taplikacijeId']}}</div>
                                <div>Opis: {{rowData['opis']}}</div>
                                <div>Grupa ID: {{rowData['grupaId']}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
          </p-table>
          <ngb-alert *ngIf="this.aplikacijaDodanaAlertVisible" type="success" (close)="this.aplikacijaDodanaAlertVisible = false" class="mt-2">Aplikacija dodana!</ngb-alert>
          <ngb-alert *ngIf="this.aplikacijaUklonjenaAlertVisible" type="success" (close)="this.aplikacijaUklonjenaAlertVisible = false" class="mt-2">Aplikacija uklonjena!</ngb-alert>
          <ngb-alert *ngIf="this.aplikacijaDodanaErrorAlertVisible" type="danger" (close)="this.aplikacijaDodanaErrorAlertVisible = false" class="mt-2">Greška prilikom dodavanja aplikacije!</ngb-alert>
          <ngb-alert *ngIf="this.aplikacijaUklonjenaErrorAlertVisible" type="danger" (close)="this.aplikacijaUklonjenaErrorAlertVisible = false" class="mt-2">Greška prilikom brisanja aplikacije!</ngb-alert>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-column" class=" mb-5  ">
              <div class="d-flex justify-content-between ">
                <h5>Pridružene stranice</h5>
                <div class="" type="button" (click)="addStrToApp()"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
              </div>
              <p-dialog header="{{selectedStranicaName}}" [closable]="false" [(visible)]="strDeleteVisible && selectedStr" [style.width]="'200px'">
                Jeste li sigurni da želite ukloniti pridruženu stranicu {{selectedStranicaName}}?
                <p-footer>
                  <button type="button" (click)="deleteStr()" >Da</button>
                  <button type="button" (click)="deleteStrNo()">Ne</button>
                </p-footer>
              </p-dialog>
              <div style="width: 500px; height: fit-content; " >
              <p-table [columns]="strCols" [value]="stranice" editMode="row" dataKey="id" [(selection)]="selectedStr"  autoLayout="true" selectionMode="single" (onRowSelect)="rowStrSelected($event)" (onRowUnselect)="rowStrUnselected()">
                  <ng-template pTemplate="header" let-columns>
                      <tr >
                          <th *ngFor="let col of columns" style="width: fit-content;">
                              {{col.header}}
                          </th>
                          <th style="width: 4em; text-align: center;"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData" >
                          <td *ngFor="let col of columns" style="width: fit-content;">
                              {{rowData[col.field]}}
                          </td>
                          <td style="text-align: center;" class="del" (click)="delStrClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                      </tr>
                  </ng-template>
                </p-table>
                <ngb-alert *ngIf="this.strDodanaAlertVisible" type="success" (close)="this.strDodanaAlertVisible = false" class="mt-2">Stranica dodana!</ngb-alert>
                <ngb-alert *ngIf="this.strUklonjenaAlertVisible" type="success" (close)="this.strUklonjenaAlertVisible = false" class="mt-2">Stranica uklonjena!</ngb-alert>
                <ngb-alert *ngIf="this.strDodanaErrorAlertVisible" type="danger" (close)="this.strDodanaErrorAlertVisible = false" class="mt-2">Rola Greška prilikom dodavanja stranice!</ngb-alert>
                <ngb-alert *ngIf="this.strUklonjenaErrorAlertVisible" type="danger" (close)="this.strUklonjenaErrorAlertVisible = false" class="mt-2">Greška prilikom uklanjanja stranice!</ngb-alert>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="m-3 d-flex">
      <h5>Stranice</h5><i *ngIf="!straniceToggle" (click)="this.straniceToggle = true" class="fa fa-caret-down ml-2 mt-1"></i><i *ngIf="straniceToggle" (click)="this.straniceToggle = false" class="fa fa-caret-up mt-1 ml-2"></i>
    </div>
    <div *ngIf="straniceToggle && straniceAll" style="background-color: #dae4f5;" class="py-3 mx-3">
      <div class="d-flex justify-content-around" >
        <div style="width: 700px;" class="d-flex flex-column ml-3">
          <div class="d-flex justify-content-between " style="width: 610px;">
            <h5>Popis stranica</h5>
            <div class="" type="button" (click)="this.isFormDisabled = false"><i class="fas fa-plus fa-lg add mr-3" style="color: #007ad9"></i></div>
          </div>
          <p-dialog header="{{selectedStranicaName}}" [closable]="false" [(visible)]="stranicaDeleteVisible" [style.width]="'200px'">
            Jeste li sigurni da želite ukloniti stranicu {{selectedStranicaName}}?
            <p-footer>
              <button type="button" (click)="deleteStranica()" >Da</button>
              <button type="button" (click)="deleteStranicaNo()">Ne</button>
            </p-footer>
          </p-dialog>
          <div style="width: fit-content; height: fit-content;">
            <p-table #strs [columns]="straniceCols" [value]="straniceAll" editMode="row" dataKey="stranicaId" rowHover="true" [paginator]="true" [rows]="10" autoLayout="true" >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="30" placeholder="Traži..." (input)="strs.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" style="width: fit-content;" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLableAsc="Activate to sort in ascending order"></p-sortIcon>
                      </th>
                      <th style="width: 3em"></th>
                    </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns" style="width: fit-content;">
                          {{col.header === 'Status' ? (rowData[col.field] === 1 ? 'Aktivno' : rowData[col.field] === -1 ? 'Izbrisano' : 'Neaktivno') : rowData[col.field]}}
                      </td>
                      <td style="text-align: center;" class="del" (click)="delStranicaClick(rowData)" ><i class="fas fa-trash-alt "></i></td>
                  </tr>
              </ng-template>
            </p-table></div>
        </div>
        <div class="d-flex flex-column justify-content-center" style="width: 500px;">
          <div class="d-flex flex-column " [class.disabledDiv]="isFormDisabled">
            <form class="" [formGroup]="form" (ngSubmit)="addStranica()">
              <div class="d-flex flex-column">
                <h5>Dodaj novu stranicu</h5>
                <p class="py-2">Unesite podatke o stranici: </p>
              </div>
              <div class="d-flex form-group " >
                <label for="naziv">Naziv: *</label>
                <input name="naziv" type="text" formControlName="naziv" class="form-control w-75" [class.border-danger]="this.hasErrors('naziv')">
              </div>
              <div class="d-flex form-group">
                <label for="oznaka">Oznaka: *</label>
                <input name="oznaka" type="text" formControlName="oznaka" class="form-control w-75" [class.border-danger]="this.hasErrors('oznaka')">
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-info mr-1" >Dodaj</button>
                <button type="button" (click)="onOcisti()" class="btn btn-secondary">Očisti</button>
              </div>
            </form>
          </div>
          <ngb-alert *ngIf="this.alertVisible" type="success" (close)="this.alertVisible = false" class="mt-2">Stranica dodana!</ngb-alert>
          <ngb-alert *ngIf="this.stranicaDodanaErrorAlertVisible" type="danger" (close)="this.stranicaDodanaErrorAlertVisible = false" class="mt-2">Greška prilikom dodavanja stranice!</ngb-alert>
          <ngb-alert *ngIf="this.stranicaUklonjenaAlertVisible" type="success" (close)="this.stranicaUklonjenaAlertVisible = false" class="mt-2">Stranica izbrisana!</ngb-alert>
          <ngb-alert *ngIf="this.stranicaUklonjenaErrorAlertVisible" type="danger" (close)="this.stranicaDodanaErrorAlertVisible = false" class="mt-2">Greška prilikom brisanja stranice!</ngb-alert>
        </div>
      </div>
    </div>
  </div>
</div>
