.btn {
  width: 170px;
}

/* .table-striped>tbody>tr:nth-child(odd)>td {
  background-color: rgb(240, 217, 188);
}

.table-striped>tbody>tr:nth-child(even)>td {
  background-color: rgb(228, 172, 119);
} */
