<!-- <nav class="navbar navbar-expand-md navbar-dark  shadow-sm sticky-top min-vw-100" style="background-color: #202131;">
  <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a routerLink="/" class="nav-item nav-link text-white">Home</a>
              <a href="#" class="nav-item nav-link text-white" *hasPermission="'ROLA_TELEP_PROJEKT'">Link za telp</a>
          </div>
      </div>
      <div *ngIf="this.isLoggedIn"  class="collapse navbar-collapse justify-content-end mr-3">
        <div class="navbar-nav d-flex align-items-center">
          <a routerLink="/login" (click)="logout()" class=" text-white">Logout</a>
          <p class="text-white nav-item m-0 ml-3">{{query.getUsername()}}<i class="far fa-user fa-lg mr-1 ml-1"></i></p>
        </div>
      </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-md navbar-dark  shadow-sm sticky-top min-vw-100" style="background-color: #202131;">
  <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="javascript:void(0)" *ngIf="this.appName" (click)="menuClick()" class="nav-item nav-link text-white" ><i class="fas fa-bars"></i></a>
              <a *ngIf="this.isLoggedIn" routerLink="/" class="nav-item nav-link text-white">Home</a> <span class="text-white d-flex align-items-center">{{this.appName? '> '+this.appName : ''}}</span>
              <!-- <a href="#" class="nav-item nav-link text-white" *hasPermission="'ROLA_TELEP_PROJEKT'">Link za telp</a> -->
          </div>
      </div>
      <div *ngIf="this.isLoggedIn"  class="collapse navbar-collapse justify-content-end mr-3">
        <div class="navbar-nav d-flex align-items-center">
          <div ngbDropdown class="d-inline-block">
            <p class="text-white nav-item m-0 ml-3 dropdown-toggle" id="dropdownIcon" ngbDropdownToggle>{{query.getUsername()}}<i class="far fa-user fa-lg mr-1 ml-1"></i></p>
            <div ngbDropdownMenu aria-labelledby="dropDownIcon" class="mr-5 mt-2 pt-2" style="min-width: 100px;">
              <a routerLink="/login" (click)="logout()" ngbDropdownItem class=" text-dark" id="logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</nav>

