<div class="modal-header">
  <h4 class="modal-title">Unesite podatke o aplikaciji</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Closed')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="ml-3">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex form-group">
        <label for="naziv">Naziv: * </label>
        <input name="naziv" type="text" formControlName="naziv" class="form-control w-50">
        <span *ngIf="this.hasErrors('naziv')" class="text-danger ml-2 align-middle ">Obavezan unos</span>
      </div>

      <div class="d-flex form-group">
        <label for="oznaka">Oznaka: * </label>
        <input name="oznaka" type="text" formControlName="oznaka" class="form-control w-50">
        <span *ngIf="this.hasErrors('oznaka')" class="text-danger ml-2 align-middle ">Obavezan unos</span>
      </div>

      <div class="d-flex form-group">
        <label for="opis">Opis: * </label>
        <input name="opis" type="text" formControlName="opis" class="form-control w-50">
        <span *ngIf="this.hasErrors('opis')" class="text-danger ml-2 align-middle ">Obavezan unos</span>
      </div>
    </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark bg-success text-white" (click)="onAdd()">Dodaj</button>
  <button type="button" class="btn btn-outline-dark bg-danger text-white" (click)="activeModal.close('Closed')">Zatvori</button>
</div>
